body{
    background-color: rgb(9, 36, 75);
}

/* TITLE / INFO / PERSONAL INFO */
.title{
    color: rgb(243, 203, 26);
    font-size: 4.5rem;
    display: flex;
    flex-wrap: wrap;
}

.info{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}

#personal-info{
    color: rgb(243, 203, 26);
    margin-top: 100px;
    
}
/* TITLE / INFO / PERSONAL INFO */

/* SKILLS */


#skills{
    color: rgb(243, 203, 26);
    margin-top: 100px;

}

.skills-h3{
    color: rgb(231, 239, 245);
}

/* SKILLS */

/* COURSES */
#courses{
    color: rgb(243, 203, 26);
    margin-top: 100px
}
/* COURSES */

/* SOCIAL MEDIA */
.container-black{
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: 300px;
}

.container-black h2{
    padding-top: 30px;
}

#social-media{
    color: rgb(243, 203, 26);
    margin-top: 100px
}

.title-social{
    color: rgb(231, 239, 245);
    font-size: 1.5rem;
}

/* SOCIAL MEDIA */