body{
    background-color: rgb(9, 36, 75);
}

/* TITLE / INFO / PERSONAL INFO */
.title{
    color: rgb(243, 203, 26);
    font-size: 4.5rem;
    display: flex;
    flex-wrap: wrap;
}

.info{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}

#personal-info{
    color: rgb(243, 203, 26);
    margin-top: 100px;
    
}
/* TITLE / INFO / PERSONAL INFO */

/* SKILLS */


#skills{
    color: rgb(243, 203, 26);
    margin-top: 100px;

}

.skills-h3{
    color: aliceblue;
}



/* SKILLS */